/* Social Icons */
.socials {
  margin: 40px 0;
  width: 40px;
  height:auto;

}

.socials a {
  color: #1b1c1d;
  font-size: 24px;
  margin-right: 15px;
  transition: 0.3s;
}

.socials a:hover {
  color: #38bdf8;
}

/* Contact */
.contact {
  padding: 80px 10%;
  background: #020617;
}

.contact h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.contact form {
  max-width: 500px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact button {
  padding: 12px 20px;
  background: #38bdf8;
  color: #020617;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

body {
    background-color: rgba(244, 244, 244, 0.918)
}

.logo {
    font-size: 40px;
    color: white;
} 

.navbar {
  position: fixed;        /* upar chipki rahegi */
  top: 0;
  left: 0;
  width: 95%;
  background: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 22px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.nav-links li a:hover {
  color: #00ffcc;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: Arial, sans-serif;
}

.site-footer {
  background: #d350f4;
  color: #ccc;
  text-align: center;
  padding: 25px 10px;
  font-size: 14px;
  border-top: 1px solid #222;
}

.site-footer strong {
  color: #441bd9;
}

.visitors {
  margin-top: 8px;
  font-size: 15px;
  color: #151414;
}

.footer-icons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-icons img {
  width: 55px;        
  height: 55px;
  transition: 0.3s;
  filter: brightness(0) invert(1);
}

.footer-icons img:hover {
  transform: scale(1.15);
  filter: none;
}

p {
  color: black;
  font-size: 20px;
}